    <div class="main">
      <div class="upper left">
      </div>
      <div class="upper right">
      </div>
      <div class="lower left">
      </div>
      <div class="lower right"></div>
    </div>
