/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require 'animate'
 *= require 'bootstrap'
 *= require 'cards'
 *= require 'icomoon'
 *= require 'magnific-popup'
 *= require 'owl.carousel.min'
 *= require 'owl.theme.default.min'
 *= require 'style'
 */
/*@import "bootstrap";

body {
  color: #666666;
  background-color: #f9f8f6;
}

.wrapper {
  width: 940px;
  background-color: #ffffff;
}

#cover {
  background-image: image-url('header.jpg');
}
header {
  background-color: #BABABA;
}

h1 {
  color: #000000;
  margin-bottom: 5px;
}

h2 {
  margin-top: 5px;
  color: #000000;
}

a {
  color: #000000;
}

nav {
  opacity: .5;
  background-color: gray;
}
li {
  opacity: 1;
  padding-left: 5px;
  padding-right: 20px;
  display: inline-block;
  height: 40px;
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 5px;
  border-right: solid;
  border-width: 2px;
  border-color: black;
}

.upper {
  height: 300px;
  width: 50%;
  background-color: black;
  display: inline-block;
}

.lower {
  height: 300px;
  width: 50%;
  background-color: #a1a1a1;
  display: inline-block;
}

.left {
  float: left;
  opacity: .5;
}*/